.prerecord-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #ffffff;
}

.prerecord-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #ffffff;
}

.prerecord-back-icon {
    margin: 30px 20px 20px 20px;
    font-size: 24px;
}

.text-group {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-bottom: 8px;
    gap: 8px;
}

.prerecord-header-title {
    font-size: 24px;
    font-weight: 600;
}

.prerecord-header-describe {
    font-size: 16px;
    font-weight: 500;
    color: #929292;
}

.status-select-section {
    flex: 1;
    overflow-y: auto; 
    padding: 16px 20px;
    display: flex;
    flex-direction: column;
    background-color: #EDE9FF;
    gap: 12px;
}

.metric-card {
    background-color: #ffffff;
    border-radius: 8px;
    margin-bottom: 12px;
    gap: 4px;
    padding: 8px 16px;
}

.metric-title {
    font-size: 16px;
    font-weight: 500;
}

.score-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 14px;

}

.score-button {
    width: 44px;
    height: 30px;
    border: 1px solid #7F6EDB;
    border-radius: 8px;
    background-color: #ffffff;
    color: #000000;
    font-size: 12px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    cursor: pointer;
}

.score-button.selected {
    background-color: #7F6EDB;
    color: #ffffff;
    border: 1px solid #7F6EDB;
    border-radius: 8px;
}

footer {
  padding: 20px;
  background-color: #ffffff;
}

.save-button {
    border-radius: 8px;
    font-size: 16px;
    color:#ffffff;
    text-align: center;
    background-color: #7F6EDB;
    width: 100%;
    height: 53px;
    padding: 16px 0px;
}

.save-button:disabled {
    background-color: #BDBDBD;
}

.save-button.loading:disabled {
    background-color: #BDB0F6;
}

