.experiment-list {
  font-size: 16px;
  margin-left: 20px;
  position: relative;
  top: 1px; /* 주변 요소 밀지 않고 5px만큼 아래로 이동 */
}
.line {
  margin: -5px 0 0 0;
  /* width: 100vw; <- 삭제 */
  /* margin-left: calc(-50vw + 50%); <- 삭제 */

  width: calc(100% + 40px); /* 양옆 padding인 20px씩 총 40px을 더해줌 */
  margin-left: -20px; /* 늘어난 만큼 왼쪽으로 밀어서 맞춤 */
  border: 0;
  border-top: 1px solid #eee;
}
.archive-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0 20px;
}

.archive-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #b8a9ff;
  border-radius: 12px;
  padding: 7px;
}

.archive-card-title {
  font-size: 18px;
  font-weight: 400;
}

.archive-card-date {
  font-size: 14px;
  color: #999999;

  margin-top: 4px;
}

.archive-card-icon {
  font-size: 28px;
  font-weight: 600;
}
