/* 타이틀 영역 */
.archive-title {
  font-size: 20px;
  font-weight: 500;
  margin: 20px;
  text-align: center;
}

/* 리스트 헤더 */
.experiment-list {
  font-size: 16px;
  margin-left: 20px;
}

/* 수평선: 부모 마진 무시하고 꽉 채우기 */
.line {
  margin: 8px 0 0 0;
  width: 100vw; /* ⭐ 화면 너비 전체 */
  margin-left: calc(-50vw + 50%); /* ⭐ 부모 패딩/마진 무시하고 끝까지 늘리기 */
  border: 0;
  border-top: 1px solid #eee;
}

/* 빈 상태 전체 컨테이너 */
.experiments-state {
  display: flex;
  justify-content: center;
  align-items: center;
}

.empty-wrapper {
  display: flex;
  flex-direction: column; /* 세로 방향으로 쌓기 */
  align-items: center; /* 가로 중앙 정렬 */
  gap: 150px; /* 텍스트와 버튼 사이를 확 벌리고 싶으면 gap 사용 */
}

.empty {
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  line-height: 1.4;
  margin-top: 130px;
  color: #333;
}

.home-navigate {
  text-align: center;
  font-size: 16px;
  color: #929292;
  cursor: pointer;
}
